<mat-card>
  <h1>Your Profile Details</h1>
  <!-- {{user | json}} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-centre">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="" class="profile-image">

                <h1 class="mt20">{{user.first_Name}} {{user.last_Name}}</h1>
            </div>
            <div class="row">
                <div class="col-md-10  offset-md-1">

                  <table class="table text-centre">
                    <tr>
                      <td>Username</td>
                      <td>{{user.username}}</td>
                    </tr>
                    <tr>
                      <td>Userid</td>
                      <td>{{user.id}}</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      <td>{{user.authorities[0].authority}}</td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{user.enabled?"Active":"Non-Active"}}</td>
                    </tr>
                  </table>
                </div>       
            </div>
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-centre">
    <button class="mr20"mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
