<div class="bootstrap-wrapper">
  <div class="container">

<div class="row" style="margin-top: 20px;">

<div class="col-md-6 offset-md-3">
 <mat-card class="example-card">
  <div class="container  text-centre">
   <img src="../../../assets/logo.png.jpg" alt="" class="profile-image">
  </div>

   <h1 class="text-centre" style="margin-top: 20px;">   NEW REGISTRATION !!   </h1>
        <!-- For Username  -->
   
    <!-- {{ user | json}} -->

    <form (ngSubmit)="formsubmit()">
     <mat-form-field class="full-width" appearance="outline">
       <mat-label>Username</mat-label>
       <input 
       required
       [(ngModel)]="user.username"
       name="username"
       matInput placeholder="Enter here..."
       />
       <mat-hint>username is unque!!</mat-hint>
     </mat-form-field>
    <!-- for password -->
    <mat-form-field type="password" class="full-width" appearance="outline">
     <mat-label>password</mat-label>
     <input    required
     [(ngModel)]="user.password"
     name="password"
     matInput placeholder="Enter here...">
   </mat-form-field>
    <!-- firstname -->
    <mat-form-field class="full-width" appearance="outline">
     <mat-label>First Name</mat-label>
     <input 
     required
     [(ngModel)]="user.first_Name"
     name="first_Name"
     matInput placeholder="Enter here...">
   </mat-form-field>
   <!-- Lastname -->
   <mat-form-field class="full-width" appearance="outline">
     <mat-label>Last Name</mat-label>
     <input
     required
      [(ngModel)]="user.last_Name"
     name="last_Name"
     matInput placeholder="Enter here...">
   </mat-form-field>
   <!-- for email -->
   <mat-form-field class="full-width" appearance="outline">
     <mat-label>Email</mat-label>
     <input   required
      type="email" [(ngModel)]="user.email"
     name="Email"
      matInput placeholder="Enter here...">
   </mat-form-field>
   <!-- for Phone number -->
   <mat-form-field class="full-width" appearance="outline">
     <mat-label>Phone Number</mat-label>
     <input 
     required
     type="phone number" [(ngModel)]="user.phone"
     name="phone"
      matInput placeholder="Enter here...">
   </mat-form-field>
    
    <div class="container text-centre">
   <button type="submit" mat-raised-button color="primary">Register</button>
   <button style ="margin-left: 20px;" mat-raised-button color="assets">reset</button>
   </div>
    </form>
   </mat-card>
</div>
</div>
</div>
</div>
 
