<mat-toolbar color="primary">

<a
routerLink="/"
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
<mat-icon>menu_book</mat-icon>
</a>
<span>Exam Portal</span>
<span class="example-spacer"></span>

<a
*ngIf="!isLoggedin"
[routerLink]="'/login'"
mat-icon-button class="example-icon favrite-icon" aria-label="Example icon-button with  heart icon">
<h5>Login</h5>
</a>

<a 

  *ngIf="!isLoggedin"
  [routerLink]="'/signup'"
    class="ml20" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <h5>Register</h5>
    </a>


<a 
  (click)="logout()"
  *ngIf="isLoggedin"
    class="ml20" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <h5>Logout</h5>
    </a>

<a 
  *ngIf="isLoggedin && user"
    class="mr20" mat-icon-button class="example-icon favorite-icon"  routerLink="/admin/profile"  aria-label="Example icon-button with heart icon">
      <h5>{{login.getuser().username}}</h5>
    </a>



</mat-toolbar>
